adium-theme-ubuntu==0.3.4
attrs==16.3.0
beautifulsoup4==4.5.3
certifi==2017.7.27.1
chardet==3.0.4
click==6.6
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
cryptography==1.7.1
cycler==0.10.0
decorator==4.1.2
deluge==1.3.13
dnspython==1.15.0
enum34==1.1.6
functools32==3.2.3.post2
gyp==0.1
html5lib==0.999999999
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
keyring==10.3.1
keyrings.alt==2.2
lxml==3.7.3
MAT==0.6.1
matplotlib==2.0.2
mutagen==1.36
nbformat==4.4.0
ndg-httpsclient==0.4.2
numpy==1.13.1
PAM==0.4.2
pdfrw==0.2
Pillow==4.0.0
plotly==2.0.15
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycurl==7.43.0
pygame===1.9.1release
pygobject==3.22.0
pygpgme==0.3
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyserial==3.2.1
python-apt==1.4.0b2
python-dateutil==2.6.1
python-libtorrent==1.1.1
pytz==2017.2
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
service-identity==16.0.0
six==1.10.0
subprocess32==3.2.7
traitlets==4.3.2
Twisted==16.6.0
unity-lens-photos==1.0
urllib3==1.22
variety==0.6.4
variety-slideshow==0.1
webencodings==0.5
zope.interface==4.3.2
